:root {
  --COLOR-PRIMARY: hsl(25, 97%, 53%);
  --COLOR-NEUTRAL-WHITE: hsl(0, 0%, 100%);
  --COLOR-NEUTRAL-LIGHT-GREY: hsl(217, 12%, 63%);
  /*   --COLOR-NEUTRAL-MEDIUM-GREY: hsl(216, 12%, 20%); */
  --COLOR-NEUTRAL-DARK-GREY: hsl(216, 12%, 22%);
  --COLOR-NEUTRAL-DARK-BLUE: hsl(213, 19%, 18%);
  --COLOR-NEUTRAL-VERY-DARK-BLUE: hsl(216, 12%, 8%);
  --FONT-OVERPASS: 'Overpass', sans-serif;
}

/* HAVE TO ADJUST COLORS, NOT WORKING WITH FIGMA, MEDIUM GREY 
IS TOO LIGHT */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: var(--COLOR-NEUTRAL-VERY-DARK-BLUE);
  font-family: var(--FONT-OVERPASS);
  font-size: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ratings__wrapper,
.confirmation__wrapper {
  background-color: var(--COLOR-NEUTRAL-DARK-BLUE);
  width: 400px;
  height: 400px;
  padding: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .ratings__wrapper,
  .confirmation__wrapper {
    width: 300px;
    height: 330px;
    padding: 0;
  }
}

.ratings__wrapper--remove {
  display: none;
}

.ratings__image {
  background-color: var(--COLOR-NEUTRAL-DARK-GREY);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .ratings__image {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
  }
}

.ratings__start-icons {
  width: 40%;
  height: 40%;
}

.ratings__question {
  font-family: var(--FONT-OVERPASS);
  font-size: 3.2rem;
  color: var(--COLOR-NEUTRAL-WHITE);
}

@media screen and (max-width: 400px) {
  .ratings__question {
    margin: 0 1rem;
  }
}

.ratings__instructions {
  /* font-size: 15px; */
  color: var(--COLOR-NEUTRAL-WHITE);
}

@media screen and (max-width: 400px) {
  .ratings__instructions {
    margin: 0 1rem;
  }
}

.ratings__group {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

.ratings__rank {
  /* border: 1px solid var(--COLOR-NEUTRAL-LIGHT-GREY); */
  background-color: var(--COLOR-NEUTRAL-DARK-GREY);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.7rem;

  color: var(--COLOR-NEUTRAL-LIGHT-GREY);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .ratings__rank {
    width: 4rem;
    height: 4rem;
  }
}

.ratings__rank:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: var(--COLOR-NEUTRAL-LIGHT-GREY);
  color: var(--COLOR-NEUTRAL-VERY-DARK-BLUE);
}

.ratings__rank:active {
  background-color: var(--COLOR-PRIMARY);
}

.ratings__submit {
  font: inherit;
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-NEUTRAL-WHITE);
  text-shadow: none;
  border: none;
  height: 4.2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: initial; */
  font-weight: 700;
  filter: none;
  transition: filter 0.5s;
}

.ratings__submit:hover {
  filter: brightness(150%);
  cursor: pointer;
  color: var(--COLOR-NEUTRAL-VERY-DARK-BLUE);
  font-weight: 700;
}

.ratings__submit:active {
  /* box-shadow: 8px 4px  */
  border: 2px inset var(--COLOR-NEUTRAL-DARK-BLUE);
}

@media screen and (max-width: 400px) {
  .ratings__submit {
    height: 3.5rem;
  }
}

.active {
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-NEUTRAL-WHITE);
}

.active:hover {
  background-color: var(--COLOR-PRIMARY);
}

.confirmation__wrapper {
  display: none;
}

.confirmation__wrapper--display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.confirmation__image {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 400px) {
  .confirmation__image {
    width: 100px;
  }
}

.confirmation__image > img {
  width: 100%;
}

.cofirmation__rating {
  color: var(--COLOR-PRIMARY);
  border-radius: 20px;
  background-color: var(--COLOR-NEUTRAL-DARK-GREY);
  padding: 1rem 2rem;
}

.confirmation__text {
  color: var(--COLOR-NEUTRAL-LIGHT-GREY);
  text-align: center;
}

@media screen and (max-width: 400px) {
  .confirmation__text {
    margin: 0 1.5rem;
  }
}

.confirmation__ty {
  color: var(--COLOR-NEUTRAL-WHITE);
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  color: var(--COLOR-NEUTRAL-LIGHT-GREY);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
